VITE_CONTRACT_ID=CC2XWKWSI44EKC6W4EACZXTXQVHK32GIWPOP7RFDRMXLMVNFPFCC2W2X
VITE_TOKEN_ID=CDEEXI3H4PXMIXCVGINFDCHDKPLRJJXWJFMK6P2MFRPBQHVYEP2D74VB
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_STELLAR_NETWORK=TESTNET
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
